In [3]:
from pathlib import Path
import pandas as pd
import numpy as np

In [4]:
# path to file
file_str = ".\strategy.txt"
file_path = Path(file_str)

In [6]:
df = pd.read_csv(file_path, delimiter=" ", names=["opp", "result"])

# calculate me column
# A, X = rock
# B, Y = paper
# C, Z = scissors
# X = lose
# Y = draw
# Z = win
result_conditions = [
    (df['opp'] == "A") & (df['result'] == "X"),
    (df['opp'] == "A") & (df['result'] == "Y"),
    (df['opp'] == "A") & (df['result'] == "Z"),
    (df['opp'] == "B") & (df['result'] == "X"),
    (df['opp'] == "B") & (df['result'] == "Y"),
    (df['opp'] == "B") & (df['result'] == "Z"),
    (df['opp'] == "C") & (df['result'] == "X"),
    (df['opp'] == "C") & (df['result'] == "Y"),
    (df['opp'] == "C") & (df['result'] == "Z")
]

result_values = ["Z", "X", "Y", "X", "Y", "Z", "Y", "Z", "X"]

df["me"] = np.select(result_conditions, result_values)

# points based on value of my play
me_conditions = [
    (df["me"] == "X"),
    (df["me"] == "Y"),
    (df["me"] == "Z")
]

me_values = [1, 2, 3]

df["my_points"] = np.select(me_conditions, me_values)

# points based on match outcome

outcome_conditions = [
    (df["me"] == "X") & (df["opp"] == "B"),
    (df["me"] == "Y") & (df["opp"] == "C"),
    (df["me"] == "Z") & (df["opp"] == "A"),
    (df["me"] == "X") & (df["opp"] == "A"),
    (df["me"] == "Y") & (df["opp"] == "B"),
    (df["me"] == "Z") & (df["opp"] == "C"),
    (df["me"] == "X") & (df["opp"] == "C"),
    (df["me"] == "Y") & (df["opp"] == "A"),
    (df["me"] == "Z") & (df["opp"] == "B")
]

outcome_values = [0, 0, 0, 3, 3, 3, 6, 6, 6]

df["outcome_points"] = np.select(outcome_conditions, outcome_values)

#see what df looks like
df.head()

  opp result me  my_points  outcome_points
0   C      Z  X          1               6
1   C      Z  X          1               6
2   C      Y  Z          3               3
3   C      Z  X          1               6
4   C      Z  X          1               6

In [7]:
# calculate sum of scores
total_score = sum([df["my_points"].sum(), df["outcome_points"].sum()])
print(f"My total score is {total_score} points")

My total score is 12881 points